<div class="table-container">
  <!-- Tabla -->
  <div class="table-responsive">
    <p-table
      [value]="eafs"
      [paginator]="true"
      [rows]="rows"
      [first]="first"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onLazyLoad)="loadLazyData($event)"
      [lazy]="true"
      [totalRecords]="totalRecords"
      [globalFilterFields]="['eaf.name']"
      (onFilter)="filterData($event)"
      paginatorDropdownAppendTo="body"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      message
      styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 50px;">#</th>
          <th style="min-width: 250px;">Nombre</th>
          <th style="min-width: 120px;">Tipo</th>
          <th style="min-width: 210px;">Fecha</th>
          <th style="min-width: 150px;">Estado Proceso</th>
          <th style="min-width: 120px;">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-eaf>
        <tr (dblclick)="navigateToDetail(eaf.id)">
          <td>{{ eaf.id }}</td>
          <td><strong>{{ eaf.name }}</strong></td>
          <td>{{ eaf.type }}</td>
          <td>{{ eaf.entryTimestamp }}</td>
          <td>
            <span class="badge" role="button" [ngClass]='"bg-"+ eaf.processStatus.level' [attr.data-bs-toggle]="
                eaf.processStatus.description.length > 15 ? 'tooltip' : null
              " [attr.title]="eaf.loadStatus.description">
              {{ truncateText(eaf.processStatus.description) }}
            </span>
          </td>
          <td>
            <i *ngIf="['CT00', 'PE02', 'PE01', 'PE00', 'CT04', 'CT03', 'CT02', 'CT01'].includes(eaf.processStatus.id  )"  class="bi bi-arrow-right-circle-fill icon-blue icon-spacing" role="button" title="Ver detalle/editar"
              (click)="navigateToDetail(eaf.id)" data-bs-toggle="tooltip"></i>
            <i class="bi bi-file-earmark-arrow-down-fill icon-red icon-spacing" role="button"
              title="Descargar documento" (click)="navigateToDetail(eaf.id)" data-bs-toggle="tooltip"></i>
            <i *ngIf="eaf.processStatus.id == 'NF01'" class="bi bi-trash-fill icon-black" role="button" title="Eliminar EAF rechazado"
              (click)="confirmDelete(eaf.id)" data-bs-toggle="tooltip"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td><strong>No se encontraron registros</strong></td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card flex justify-content-center gap-2">
      <app-confirm-popup
        header="Confirmación"
        message="¿Está seguro que desea eliminar el registro?"
        acceptLabel="&nbsp;Sí&nbsp;"
        rejectLabel="No"
        [acceptMethod]="acceptDelete"
        [rejectMethod]="rejectDelete"
        #confirmPopup  />
    </div>
  </div>
</div>